@use "sass:color";

// Färg för ljust tema
$color-light-bg: #FFEDFA;
$color-light-text: #3a1b28;
$color-light-accent: #FFB8E0;

// Färg för mörkt tema
$color-dark-bg: #3a1b28;
$color-dark-text: #FFEDFA;
$color-dark-accent: #EC7FA9;

